<div class="container mt-5">
    <h1 class="text-center text-primary mb-4">
        Acronyms
    </h1>

    <div class="accordion">
        <!-- Section Acronyms -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#acronyms"
                        aria-expanded="false"
                        aria-controls="acronyms">
                    Acronyms
                </button>
            </h2>
            <div id="acronyms"
                 class="accordion-collapse collapse">
                <div class="accordion-body">
                    <!-- Programmation Générale -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Programmation Générale</p>
                        </li>
                        <li class="list-group-item">
                            API - Interface de Programmation d'Applications
                        </li>
                        <li class="list-group-item">
                            CLI - Interface en Ligne de Commande
                        </li>
                        <li class="list-group-item">
                            CRUD - Créer, Lire, Mettre à Jour, Supprimer
                        </li>
                        <li class="list-group-item">
                            IDE - Environnement de Développement Intégré
                        </li>
                        <li class="list-group-item">
                            POO - Programmation Orientée Objet
                        </li>
                        <li class="list-group-item">
                            SDK - Kit de Développement Logiciel
                        </li>
                        <li class="list-group-item">
                            VCS - Système de Contrôle de Version
                        </li>
                        <li class="list-group-item">
                            JIT - Juste-à-Temps
                        </li>
                        <li class="list-group-item">
                            REPL - Lire-Évaluer-Imprimer Boucle
                        </li>
                        <li class="list-group-item">
                            DRY - Ne Vous Répétez Pas
                        </li>
                    </ul>

                    <!-- Développement Web -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Développement Web</p>
                        </li>
                        <li class="list-group-item">
                            CSS - Feuilles de Style en Cascade
                        </li>
                        <li class="list-group-item">
                            DOM - Modèle Objet de Document
                        </li>
                        <li class="list-group-item">
                            HTML - Langage de Marquage Hypertexte
                        </li>
                        <li class="list-group-item">
                            HTTP - Protocole de Transfert Hypertexte
                        </li>
                        <li class="list-group-item">
                            HTTPS - Protocole de Transfert Hypertexte Sécurisé
                        </li>
                        <li class="list-group-item">
                            JSON - Notation Objet JavaScript
                        </li>
                        <li class="list-group-item">
                            REST - Transfert d'État Représentationnel
                        </li>
                        <li class="list-group-item">
                            SPA - Application à Page Unique
                        </li>
                        <li class="list-group-item">
                            XML - Langage de Marquage Extensible
                        </li>
                        <li class="list-group-item">
                            AJAX - JavaScript et XML Asynchrones
                        </li>
                        <li class="list-group-item">
                            CDN - Réseau de Distribution de Contenu
                        </li>
                        <li class="list-group-item">
                            SEO - Optimisation pour les Moteurs de Recherche
                        </li>
                    </ul>

                    <!-- Méthodologies de Développement Logiciel -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Méthodologies de Développement Logiciel</p>
                        </li>
                        <li class="list-group-item">
                            BDD - Développement Dirigé par le Comportement
                        </li>
                        <li class="list-group-item">
                            CI - Intégration Continue
                        </li>
                        <li class="list-group-item">
                            CD - Déploiement Continu
                        </li>
                        <li class="list-group-item">
                            TDD - Développement Dirigé par les Tests
                        </li>
                        <li class="list-group-item">
                            XP - Programmation Extrême
                        </li>
                        <li class="list-group-item">
                            FDD - Développement Dirigé par les Fonctionnalités
                        </li>
                        <li class="list-group-item">
                            DSDM - Méthode de Développement de Systèmes Dynamiques
                        </li>
                        <li class="list-group-item">
                            RAD - Développement Rapide d'Applications
                        </li>
                    </ul>

                    <!-- Base de Données -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Base de Données</p>
                        </li>
                        <li class="list-group-item">
                            DCL - Langage de Contrôle des Données
                        </li>
                        <li class="list-group-item">
                            DDL - Langage de Définition des Données
                        </li>
                        <li class="list-group-item">
                            DML - Langage de Manipulation des Données
                        </li>
                        <li class="list-group-item">
                            NoSQL - Not Only SQL (Pas Seulement SQL)
                        </li>
                        <li class="list-group-item">
                            ORM - Mapping Objet-Relationnel
                        </li>
                        <li class="list-group-item">
                            SGBDR - Système de Gestion de Base de Données Relationnelle
                        </li>
                        <li class="list-group-item">
                            SQL - Langage de Requête Structuré
                        </li>
                        <li class="list-group-item">
                            TCL - Langage de Contrôle des Transactions
                        </li>
                        <li class="list-group-item">
                            ACID - Atomicité, Cohérence, Isolation, Durabilité
                        </li>
                        <li class="list-group-item">
                            OLAP - Traitement Analytique en Ligne
                        </li>
                        <li class="list-group-item">
                            OLTP - Traitement des Transactions en Ligne
                        </li>
                        <li class="list-group-item">
                            ETL - Extraction, Transformation, Chargement
                        </li>
                    </ul>

                    <!-- Informatique en Nuage -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Informatique en Nuage</p>
                        </li>
                        <li class="list-group-item">
                            BaaS - Backend en tant que Service
                        </li>
                        <li class="list-group-item">
                            DaaS - Base de Données en tant que Service
                        </li>
                        <li class="list-group-item">
                            FaaS - Fonction en tant que Service
                        </li>
                        <li class="list-group-item">
                            IaaS - Infrastructure en tant que Service
                        </li>
                        <li class="list-group-item">
                            PaaS - Plateforme en tant que Service
                        </li>
                        <li class="list-group-item">
                            SaaS - Logiciel en tant que Service
                        </li>
                        <li class="list-group-item">
                            DRaaS - Reprise après Sinistre en tant que Service
                        </li>
                        <li class="list-group-item">
                            CaaS - Conteneur en tant que Service
                        </li>
                        <li class="list-group-item">
                            MBaaS - Backend Mobile en tant que Service
                        </li>
                        <li class="list-group-item">
                            STaaS - Stockage en tant que Service
                        </li>
                    </ul>

                    <!-- Réseautage -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Réseautage</p>
                        </li>
                        <li class="list-group-item">
                            DNS - Système de Noms de Domaine
                        </li>
                        <li class="list-group-item">
                            FTP - Protocole de Transfert de Fichiers
                        </li>
                        <li class="list-group-item">
                            IP - Protocole Internet
                        </li>
                        <li class="list-group-item">
                            SSH - Secure Shell
                        </li>
                        <li class="list-group-item">
                            SFTP - Protocole de Transfert de Fichiers Sécurisé
                        </li>
                        <li class="list-group-item">
                            TCP - Protocole de Contrôle de Transmission
                        </li>
                        <li class="list-group-item">
                            UDP - Protocole de Datagramme Utilisateur
                        </li>
                        <li class="list-group-item">
                            DHCP - Protocole de Configuration Dynamique des Hôtes
                        </li>
                        <li class="list-group-item">
                            NAT - Traduction d'Adresses Réseau
                        </li>
                        <li class="list-group-item">
                            VPN - Réseau Privé Virtuel
                        </li>
                        <li class="list-group-item">
                            LAN - Réseau Local
                        </li>
                        <li class="list-group-item">
                            WAN - Réseau Étendu
                        </li>
                        <li class="list-group-item">
                            VLAN - Réseau Local Virtuel
                        </li>
                        <li class="list-group-item">
                            MAC - Contrôle d'Accès au Support
                        </li>
                    </ul>

                    <!-- Sécurité -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Sécurité</p>
                        </li>
                        <li class="list-group-item">
                            JWT - Jeton Web JSON
                        </li>
                        <li class="list-group-item">
                            SSL - Couche de Sockets Sécurisés
                        </li>
                        <li class="list-group-item">
                            TLS - Sécurité de la Couche de Transport
                        </li>
                        <li class="list-group-item">
                            MFA - Authentification Multi-Facteurs
                        </li>
                        <li class="list-group-item">
                            SSO - Authentification Unique
                        </li>
                        <li class="list-group-item">
                            XSS - Script Inter-Sites
                        </li>
                        <li class="list-group-item">
                            CSRF - Falsification de Requête Inter-Sites
                        </li>
                        <li class="list-group-item">
                            IDS - Système de Détection d'Intrusion
                        </li>
                        <li class="list-group-item">
                            IPS - Système de Prévention d'Intrusion
                        </li>
                    </ul>

                    <!-- DevOps -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">DevOps</p>
                        </li>
                        <li class="list-group-item">
                            CI - Intégration Continue
                        </li>
                        <li class="list-group-item">
                            CD - Déploiement Continu
                        </li>
                        <li class="list-group-item">
                            CD - Livraison Continue
                        </li>
                        <li class="list-group-item">
                            IaC - Infrastructure en tant que Code
                        </li>
                        <li class="list-group-item">
                            SCM - Gestion du Contrôle de Source
                        </li>
                        <li class="list-group-item">
                            SRE - Ingénierie de Fiabilité de Site
                        </li>
                        <li class="list-group-item">
                            MTTR - Temps Moyen de Récupération
                        </li>
                        <li class="list-group-item">
                            MTBF - Temps Moyen Entre Pannes
                        </li>
                    </ul>

                    <!-- Expérience Utilisateur -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Expérience Utilisateur</p>
                        </li>
                        <li class="list-group-item">
                            SEO - Optimisation pour les Moteurs de Recherche
                        </li>
                        <li class="list-group-item">
                            UI - Interface Utilisateur
                        </li>
                        <li class="list-group-item">
                            UX - Expérience Utilisateur
                        </li>
                        <li class="list-group-item">
                            A/B - Test A/B
                        </li>
                        <li class="list-group-item">
                            CTA - Appel à l'Action
                        </li>
                        <li class="list-group-item">
                            FID - Délai de Première Entrée
                        </li>
                        <li class="list-group-item">
                            LCP - Plus Grand Rendu de Contenu
                        </li>
                        <li class="list-group-item">
                            CLS - Changement Cumulatif de Mise en Page
                        </li>
                        <li class="list-group-item">
                            KPI - Indicateur Clé de Performance
                        </li>
                    </ul>

                    <!-- Formats de Données -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Formats de Données</p>
                        </li>
                        <li class="list-group-item">
                            CSV - Valeurs Séparées par des Virgules
                        </li>
                        <li class="list-group-item">
                            JSON - Notation Objet JavaScript
                        </li>
                        <li class="list-group-item">
                            XML - Langage de Marquage Extensible
                        </li>
                        <li class="list-group-item">
                            YAML - YAML n'est pas un Langage de Marquage
                        </li>
                        <li class="list-group-item">
                            BSON - JSON Binaire
                        </li>
                        <li class="list-group-item">
                            AVRO - Apache Avro
                        </li>
                        <li class="list-group-item">
                            PARQUET - Apache Parquet
                        </li>
                        <li class="list-group-item">
                            ORC - Optimized Row Columnar
                        </li>
                        <li class="list-group-item">
                            PROTOBUF - Buffers de Protocole
                        </li>
                    </ul>

                    <!-- Matériel -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Matériel</p>
                        </li>
                        <li class="list-group-item">
                            BIOS - Système de Base d'Entrée/Sortie
                        </li>
                        <li class="list-group-item">
                            CPU - Unité Centrale de Traitement
                        </li>
                        <li class="list-group-item">
                            GPU - Unité de Traitement Graphique
                        </li>
                        <li class="list-group-item">
                            RAM - Mémoire à Accès Aléatoire
                        </li>
                        <li class="list-group-item">
                            ROM - Mémoire en Lecture Seule
                        </li>
                        <li class="list-group-item">
                            SSD - Disque à État Solide
                        </li>
                        <li class="list-group-item">
                            HDD - Disque Dur
                        </li>
                        <li class="list-group-item">
                            PSU - Unité d'Alimentation
                        </li>
                        <li class="list-group-item">
                            PCB - Carte de Circuit Imprimé
                        </li>
                        <li class="list-group-item">
                            NIC - Carte Réseau
                        </li>
                        <li class="list-group-item">
                            USB - Bus Universel en Série
                        </li>
                    </ul>

                    <!-- Virtualisation -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Virtualisation</p>
                        </li>
                        <li class="list-group-item">
                            VM - Machine Virtuelle
                        </li>
                        <li class="list-group-item">
                            VDI - Infrastructure de Bureau Virtuel
                        </li>
                        <li class="list-group-item">
                            VMM - Moniteur de Machine Virtuelle
                        </li>
                        <li class="list-group-item">
                            KVM - Machine Virtuelle Basée sur le Noyau
                        </li>
                        <li class="list-group-item">
                            VPC - Cloud Privé Virtuel
                        </li>
                        <li class="list-group-item">
                            VHD - Disque Dur Virtuel
                        </li>
                        <li class="list-group-item">
                            VMDK - Disque de Machine Virtuelle
                        </li>
                        <li class="list-group-item">
                            HCI - Infrastructure Hyper-Convergée
                        </li>
                    </ul>

                    <!-- Intelligence Artificielle -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Intelligence Artificielle</p>
                        </li>
                        <li class="list-group-item">
                            AI - Intelligence Artificielle
                        </li>
                        <li class="list-group-item">
                            ML - Apprentissage Automatique
                        </li>
                        <li class="list-group-item">
                            NLP - Traitement du Langage Naturel
                        </li>
                        <li class="list-group-item">
                            ANN - Réseau de Neurones Artificiels
                        </li>
                        <li class="list-group-item">
                            CNN - Réseau de Neurones Convolutifs
                        </li>
                        <li class="list-group-item">
                            RNN - Réseau de Neurones Récurrents
                        </li>
                        <li class="list-group-item">
                            GAN - Réseau Adversarial Génératif
                        </li>
                        <li class="list-group-item">
                            LSTM - Mémoire à Long Court Terme
                        </li>
                        <li class="list-group-item">
                            RL - Apprentissage par Renforcement
                        </li>
                        <li class="list-group-item">
                            SVM - Machine à Vecteurs de Support
                        </li>
                        <li class="list-group-item">
                            DNN - Réseau de Neurones Profonds
                        </li>
                    </ul>

                    <!-- Java -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Java</p>
                        </li>
                        <li class="list-group-item">
                            JDK - Kit de Développement Java
                        </li>
                        <li class="list-group-item">
                            JVM - Machine Virtuelle Java
                        </li>
                        <li class="list-group-item">
                            JRE - Environnement d'Exécution Java
                        </li>
                        <li class="list-group-item">
                            JSP - Pages JavaServer
                        </li>
                        <li class="list-group-item">
                            JPA - API de Persistance Java
                        </li>
                        <li class="list-group-item">
                            JDBC - Connectivité de Base de Données Java
                        </li>
                        <li class="list-group-item">
                            JAR - Archive Java
                        </li>
                        <li class="list-group-item">
                            WAR - Archive d'Application Web
                        </li>
                        <li class="list-group-item">
                            EJB - Enterprise JavaBeans
                        </li>
                        <li class="list-group-item">
                            JSF - JavaServer Faces
                        </li>
                    </ul>

                    <!-- Frameworks Frontend -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Frameworks Frontend</p>
                        </li>
                        <li class="list-group-item">
                            SASS - Feuilles de Style Syntaxiquement Géniales
                        </li>
                        <li class="list-group-item">
                            LESS - Feuilles de Style Plus Légères
                        </li>
                        <li class="list-group-item">
                            SPA - Application à Page Unique
                        </li>
                        <li class="list-group-item">
                            PWA - Application Web Progressive
                        </li>
                        <li class="list-group-item">
                            SSR - Rendu Côté Serveur
                        </li>
                        <li class="list-group-item">
                            CSR - Rendu Côté Client
                        </li>
                        <li class="list-group-item">
                            JSX - JavaScript XML
                        </li>
                        <li class="list-group-item">
                            TSX - TypeScript XML
                        </li>
                        <li class="list-group-item">
                            BEM - Bloc Élément Modificateur
                        </li>
                    </ul>

                    <!-- Internet des Objets -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Internet des Objets</p>
                        </li>
                        <li class="list-group-item">
                            IoT - Internet des Objets
                        </li>
                        <li class="list-group-item">
                            MQTT - Transport de Télémétrie de File d'Attente de Messages
                        </li>
                        <li class="list-group-item">
                            CoAP - Protocole d'Application Contraint
                        </li>
                        <li class="list-group-item">
                            LPWAN - Réseau Étendu à Basse Consommation
                        </li>
                        <li class="list-group-item">
                            BLE - Bluetooth Basse Énergie
                        </li>
                        <li class="list-group-item">
                            RFID - Identification par Radiofréquence
                        </li>
                        <li class="list-group-item">
                            NFC - Communication en Champ Proche
                        </li>
                        <li class="list-group-item">
                            Zigbee - Protocole Zigbee
                        </li>
                        <li class="list-group-item">
                            LoRa - Longue Portée
                        </li>
                        <li class="list-group-item">
                            NB-IoT - Internet des Objets à Bande Étroite
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
