<div class="container mt-5">
    <h1 class="text-center text-primary mb-4">
        Acronyms
    </h1>

    <div class="accordion">
        <!-- Section Acronyms -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#acronyms"
                        aria-expanded="false"
                        aria-controls="acronyms">
                    Acronyms
                </button>
            </h2>
            <div id="acronyms"
                 class="accordion-collapse collapse">
                <div class="accordion-body">
                    <!-- General Programming -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">General Programming</p>
                        </li>
                        <li class="list-group-item">
                            API - Application Programming Interface
                        </li>
                        <li class="list-group-item">
                            CLI - Command Line Interface
                        </li>
                        <li class="list-group-item">
                            CRUD - Create, Read, Update, Delete
                        </li>
                        <li class="list-group-item">
                            IDE - Integrated Development Environment
                        </li>
                        <li class="list-group-item">
                            OOP - Object-Oriented Programming
                        </li>
                        <li class="list-group-item">
                            SDK - Software Development Kit
                        </li>
                        <li class="list-group-item">
                            VCS - Version Control System
                        </li>
                        <li class="list-group-item">
                            JIT - Just-In-Time
                        </li>
                        <li class="list-group-item">
                            REPL - Read-Eval-Print Loop
                        </li>
                        <li class="list-group-item">
                            DRY - Don't Repeat Yourself
                        </li>
                    </ul>

                    <!-- Web Development -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Web Development</p>
                        </li>
                        <li class="list-group-item">
                            CSS - Cascading Style Sheets
                        </li>
                        <li class="list-group-item">
                            DOM - Document Object Model
                        </li>
                        <li class="list-group-item">
                            HTML - HyperText Markup Language
                        </li>
                        <li class="list-group-item">
                            HTTP - HyperText Transfer Protocol
                        </li>
                        <li class="list-group-item">
                            HTTPS - HyperText Transfer Protocol Secure
                        </li>
                        <li class="list-group-item">
                            JSON - JavaScript Object Notation
                        </li>
                        <li class="list-group-item">
                            REST - Representational State Transfer
                        </li>
                        <li class="list-group-item">
                            SPA - Single Page Application
                        </li>
                        <li class="list-group-item">
                            XML - eXtensible Markup Language
                        </li>
                        <li class="list-group-item">
                            AJAX - Asynchronous JavaScript and XML
                        </li>
                        <li class="list-group-item">
                            CDN - Content Delivery Network
                        </li>
                        <li class="list-group-item">
                            SEO - Search Engine Optimization
                        </li>
                    </ul>

                    <!-- Software Development Methodologies -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Software Development Methodologies</p>
                        </li>
                        <li class="list-group-item">
                            BDD - Behavior-Driven Development
                        </li>
                        <li class="list-group-item">
                            CI - Continuous Integration
                        </li>
                        <li class="list-group-item">
                            CD - Continuous Deployment
                        </li>
                        <li class="list-group-item">
                            TDD - Test-Driven Development
                        </li>
                        <li class="list-group-item">
                            XP - Extreme Programming
                        </li>
                        <li class="list-group-item">
                            FDD - Feature-Driven Development
                        </li>
                        <li class="list-group-item">
                            DSDM - Dynamic Systems Development Method
                        </li>
                        <li class="list-group-item">
                            RAD - Rapid Application Development
                        </li>
                    </ul>

                    <!-- Database -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Database</p>
                        </li>
                        <li class="list-group-item">
                            DCL - Data Control Language
                        </li>
                        <li class="list-group-item">
                            DDL - Data Definition Language
                        </li>
                        <li class="list-group-item">
                            DML - Data Manipulation Language
                        </li>
                        <li class="list-group-item">
                            NoSQL - Not Only SQL
                        </li>
                        <li class="list-group-item">
                            ORM - Object-Relational Mapping
                        </li>
                        <li class="list-group-item">
                            RDBMS - Relational Database Management System
                        </li>
                        <li class="list-group-item">
                            SQL - Structured Query Language
                        </li>
                        <li class="list-group-item">
                            TCL - Transaction Control Language
                        </li>
                        <li class="list-group-item">
                            ACID - Atomicity, Consistency, Isolation, Durability
                        </li>
                        <li class="list-group-item">
                            OLAP - Online Analytical Processing
                        </li>
                        <li class="list-group-item">
                            OLTP - Online Transaction Processing
                        </li>
                        <li class="list-group-item">
                            ETL - Extract, Transform, Load
                        </li>
                    </ul>

                    <!-- Cloud Computing -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Cloud Computing</p>
                        </li>
                        <li class="list-group-item">
                            BaaS - Backend as a Service
                        </li>
                        <li class="list-group-item">
                            DaaS - Database as a Service
                        </li>
                        <li class="list-group-item">
                            FaaS - Function as a Service
                        </li>
                        <li class="list-group-item">
                            IaaS - Infrastructure as a Service
                        </li>
                        <li class="list-group-item">
                            PaaS - Platform as a Service
                        </li>
                        <li class="list-group-item">
                            SaaS - Software as a Service
                        </li>
                        <li class="list-group-item">
                            DRaaS - Disaster Recovery as a Service
                        </li>
                        <li class="list-group-item">
                            CaaS - Container as a Service
                        </li>
                        <li class="list-group-item">
                            MBaaS - Mobile Backend as a Service
                        </li>
                        <li class="list-group-item">
                            STaaS - Storage as a Service
                        </li>
                    </ul>

                    <!-- Networking -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Networking</p>
                        </li>
                        <li class="list-group-item">
                            DNS - Domain Name System
                        </li>
                        <li class="list-group-item">
                            FTP - File Transfer Protocol
                        </li>
                        <li class="list-group-item">
                            IP - Internet Protocol
                        </li>
                        <li class="list-group-item">
                            SSH - Secure Shell
                        </li>
                        <li class="list-group-item">
                            SFTP - Secure File Transfer Protocol
                        </li>
                        <li class="list-group-item">
                            TCP - Transmission Control Protocol
                        </li>
                        <li class="list-group-item">
                            UDP - User Datagram Protocol
                        </li>
                        <li class="list-group-item">
                            DHCP - Dynamic Host Configuration Protocol
                        </li>
                        <li class="list-group-item">
                            NAT - Network Address Translation
                        </li>
                        <li class="list-group-item">
                            VPN - Virtual Private Network
                        </li>
                        <li class="list-group-item">
                            LAN - Local Area Network
                        </li>
                        <li class="list-group-item">
                            WAN - Wide Area Network
                        </li>
                        <li class="list-group-item">
                            VLAN - Virtual Local Area Network
                        </li>
                        <li class="list-group-item">
                            MAC - Media Access Control
                        </li>
                    </ul>

                    <!-- Security -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Security</p>
                        </li>
                        <li class="list-group-item">
                            JWT - JSON Web Token
                        </li>
                        <li class="list-group-item">
                            SSL - Secure Sockets Layer
                        </li>
                        <li class="list-group-item">
                            TLS - Transport Layer Security
                        </li>
                        <li class="list-group-item">
                            MFA - Multi-Factor Authentication
                        </li>
                        <li class="list-group-item">
                            SSO - Single Sign-On
                        </li>
                        <li class="list-group-item">
                            XSS - Cross-Site Scripting
                        </li>
                        <li class="list-group-item">
                            CSRF - Cross-Site Request Forgery
                        </li>
                        <li class="list-group-item">
                            IDS - Intrusion Detection System
                        </li>
                        <li class="list-group-item">
                            IPS - Intrusion Prevention System
                        </li>
                    </ul>

                    <!-- DevOps -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">DevOps</p>
                        </li>
                        <li class="list-group-item">
                            CI - Continuous Integration
                        </li>
                        <li class="list-group-item">
                            CD - Continuous Deployment
                        </li>
                        <li class="list-group-item">
                            CD - Continuous Delivery
                        </li>
                        <li class="list-group-item">
                            IaC - Infrastructure as Code
                        </li>
                        <li class="list-group-item">
                            SCM - Source Control Management
                        </li>
                        <li class="list-group-item">
                            SRE - Site Reliability Engineering
                        </li>
                        <li class="list-group-item">
                            MTTR - Mean Time to Recovery
                        </li>
                        <li class="list-group-item">
                            MTBF - Mean Time Between Failures
                        </li>
                    </ul>

                    <!-- User Experience -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">User Experience</p>
                        </li>
                        <li class="list-group-item">
                            SEO - Search Engine Optimization
                        </li>
                        <li class="list-group-item">
                            UI - User Interface
                        </li>
                        <li class="list-group-item">
                            UX - User Experience
                        </li>
                        <li class="list-group-item">
                            A/B - A/B Testing
                        </li>
                        <li class="list-group-item">
                            CTA - Call to Action
                        </li>
                        <li class="list-group-item">
                            FID - First Input Delay
                        </li>
                        <li class="list-group-item">
                            LCP - Largest Contentful Paint
                        </li>
                        <li class="list-group-item">
                            CLS - Cumulative Layout Shift
                        </li>
                        <li class="list-group-item">
                            KPI - Key Performance Indicator
                        </li>
                    </ul>

                    <!-- Data Formats -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Data Formats</p>
                        </li>
                        <li class="list-group-item">
                            CSV - Comma-Separated Values
                        </li>
                        <li class="list-group-item">
                            JSON - JavaScript Object Notation
                        </li>
                        <li class="list-group-item">
                            XML - eXtensible Markup Language
                        </li>
                        <li class="list-group-item">
                            YAML - YAML Ain't Markup Language
                        </li>
                        <li class="list-group-item">
                            BSON - Binary JSON
                        </li>
                        <li class="list-group-item">
                            AVRO - Apache Avro
                        </li>
                        <li class="list-group-item">
                            PARQUET - Apache Parquet
                        </li>
                        <li class="list-group-item">
                            ORC - Optimized Row Columnar
                        </li>
                        <li class="list-group-item">
                            PROTOBUF - Protocol Buffers
                        </li>
                    </ul>

                    <!-- Hardware -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Hardware</p>
                        </li>
                        <li class="list-group-item">
                            BIOS - Basic Input/Output System
                        </li>
                        <li class="list-group-item">
                            CPU - Central Processing Unit
                        </li>
                        <li class="list-group-item">
                            GPU - Graphics Processing Unit
                        </li>
                        <li class="list-group-item">
                            RAM - Random Access Memory
                        </li>
                        <li class="list-group-item">
                            ROM - Read-Only Memory
                        </li>
                        <li class="list-group-item">
                            SSD - Solid State Drive
                        </li>
                        <li class="list-group-item">
                            HDD - Hard Disk Drive
                        </li>
                        <li class="list-group-item">
                            PSU - Power Supply Unit
                        </li>
                        <li class="list-group-item">
                            PCB - Printed Circuit Board
                        </li>
                        <li class="list-group-item">
                            NIC - Network Interface Card
                        </li>
                        <li class="list-group-item">
                            USB - Universal Serial Bus
                        </li>
                    </ul>

                    <!-- Virtualization -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Virtualization</p>
                        </li>
                        <li class="list-group-item">
                            VM - Virtual Machine
                        </li>
                        <li class="list-group-item">
                            VDI - Virtual Desktop Infrastructure
                        </li>
                        <li class="list-group-item">
                            VMM - Virtual Machine Monitor
                        </li>
                        <li class="list-group-item">
                            KVM - Kernel-based Virtual Machine
                        </li>
                        <li class="list-group-item">
                            VPC - Virtual Private Cloud
                        </li>
                        <li class="list-group-item">
                            VHD - Virtual Hard Disk
                        </li>
                        <li class="list-group-item">
                            VMDK - Virtual Machine Disk
                        </li>
                        <li class="list-group-item">
                            HCI - Hyper-Converged Infrastructure
                        </li>
                    </ul>

                    <!-- Artificial Intelligence -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Artificial Intelligence</p>
                        </li>
                        <li class="list-group-item">
                            AI - Artificial Intelligence
                        </li>
                        <li class="list-group-item">
                            ML - Machine Learning
                        </li>
                        <li class="list-group-item">
                            NLP - Natural Language Processing
                        </li>
                        <li class="list-group-item">
                            ANN - Artificial Neural Network
                        </li>
                        <li class="list-group-item">
                            CNN - Convolutional Neural Network
                        </li>
                        <li class="list-group-item">
                            RNN - Recurrent Neural Network
                        </li>
                        <li class="list-group-item">
                            GAN - Generative Adversarial Network
                        </li>
                        <li class="list-group-item">
                            LSTM - Long Short-Term Memory
                        </li>
                        <li class="list-group-item">
                            RL - Reinforcement Learning
                        </li>
                        <li class="list-group-item">
                            SVM - Support Vector Machine
                        </li>
                        <li class="list-group-item">
                            DNN - Deep Neural Network
                        </li>
                    </ul>

                    <!-- Java -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Java</p>
                        </li>
                        <li class="list-group-item">
                            JDK - Java Development Kit
                        </li>
                        <li class="list-group-item">
                            JVM - Java Virtual Machine
                        </li>
                        <li class="list-group-item">
                            JRE - Java Runtime Environment
                        </li>
                        <li class="list-group-item">
                            JSP - JavaServer Pages
                        </li>
                        <li class="list-group-item">
                            JPA - Java Persistence API
                        </li>
                        <li class="list-group-item">
                            JDBC - Java Database Connectivity
                        </li>
                        <li class="list-group-item">
                            JAR - Java ARchive
                        </li>
                        <li class="list-group-item">
                            WAR - Web Application Archive
                        </li>
                        <li class="list-group-item">
                            EJB - Enterprise JavaBeans
                        </li>
                        <li class="list-group-item">
                            JSF - JavaServer Faces
                        </li>
                    </ul>

                    <!-- Frontend Frameworks -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Frontend Frameworks</p>
                        </li>
                        <li class="list-group-item">
                            SASS - Syntactically Awesome Stylesheets
                        </li>
                        <li class="list-group-item">
                            LESS - Leaner Style Sheets
                        </li>
                        <li class="list-group-item">
                            SPA - Single Page Application
                        </li>
                        <li class="list-group-item">
                            PWA - Progressive Web App
                        </li>
                        <li class="list-group-item">
                            SSR - Server-Side Rendering
                        </li>
                        <li class="list-group-item">
                            CSR - Client-Side Rendering
                        </li>
                        <li class="list-group-item">
                            JSX - JavaScript XML
                        </li>
                        <li class="list-group-item">
                            TSX - TypeScript XML
                        </li>
                        <li class="list-group-item">
                            BEM - Block Element Modifier
                        </li>
                    </ul>

                    <!-- Internet of Things -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h4">Internet of Things</p>
                        </li>
                        <li class="list-group-item">
                            IoT - Internet of Things
                        </li>
                        <li class="list-group-item">
                            MQTT - Message Queuing Telemetry Transport
                        </li>
                        <li class="list-group-item">
                            CoAP - Constrained Application Protocol
                        </li>
                        <li class="list-group-item">
                            LPWAN - Low Power Wide Area Network
                        </li>
                        <li class="list-group-item">
                            BLE - Bluetooth Low Energy
                        </li>
                        <li class="list-group-item">
                            RFID - Radio Frequency Identification
                        </li>
                        <li class="list-group-item">
                            NFC - Near Field Communication
                        </li>
                        <li class="list-group-item">
                            Zigbee - Zigbee Protocol
                        </li>
                        <li class="list-group-item">
                            LoRa - Long Range
                        </li>
                        <li class="list-group-item">
                            NB-IoT - Narrowband Internet of Things
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
