@page "/vocabulary_en"

@using Microsoft.Extensions.Localization
@using System.Globalization;
@using PascalTraining.Components.Pages.Vocabulary.WebSite
@using PascalTraining.Components.Pages.Vocabulary.HTML
@using PascalTraining.Components.Pages.Vocabulary.CSS
@using PascalTraining.Components.Pages.Vocabulary.JS
@using PascalTraining.Components.Pages.Vocabulary.Typescript
@using PascalTraining.Components.Pages.Vocabulary.Bootstrap
@using PascalTraining.Components.Pages.Vocabulary.CSharp
@using PascalTraining.Components.Pages.Vocabulary.WebBackend
@using PascalTraining.Components.Pages.Vocabulary.MicrosoftController
@using PascalTraining.Components.Pages.Vocabulary.WebAPI
@using PascalTraining.Components.Pages.Vocabulary.XUnit
@using PascalTraining.Components.Pages.Vocabulary.EF
@using PascalTraining.Components.Pages.Vocabulary.LINQ
@using PascalTraining.Components.Pages.Vocabulary.SQL
@using PascalTraining.Components.Pages.Vocabulary.BlazorWebApp
@using PascalTraining.Components.Pages.Vocabulary.GitHub
@using PascalTraining.Components.Pages.Vocabulary.Azure


@rendermode InteractiveServer

<PageTitle>Vocabulary</PageTitle>

<div class="container mt-5">
    <h1 class="text-center text-primary mb-4">
        Vocabulary
    </h1>

    <div class="accordion">
        <!-- Section Concepts de Base -->
        <div class="accordion-item">
            <div id="basicConceptsSection" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <p>
                        <strong>Note:</strong>
                        If you want to be good at golf, you
                        have to hit balls—lots of them—every
                        day, at least 100, even when you don't
                        feel like it. It takes time that you
                        might not have or would prefer to use
                        elsewhere. Sometimes there's no visible
                        progress, but other times, there are
                        eureka moments. The same principle
                        applies to learning: the amount of time
                        you invest will set you apart. It may
                        look easy, but if it were, everyone
                        would be professional golfers.
                    </p>
                    <p>
                        When it comes to learning, it's
                        essential to commit the time. It’s
                        recommended to follow the same approach
                        as professional golfers: dedicate at
                        least one hour every day to reviewing,
                        memorizing, exploring, testing, and
                        prototyping.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<p>&nbsp;</p>
<WebSite />
<p>&nbsp;</p>
<HTMLc />
<p>&nbsp;</p>
<CSS />
<p>&nbsp;</p>
<JS />
<p>&nbsp;</p>
<Typescript />
<p>&nbsp;</p>
<Bootstrap />
<p>&nbsp;</p>
<CSharp />
<p>&nbsp;</p>
<WebBackend />
<p>&nbsp;</p>
<MicrosoftController />
<p>&nbsp;</p>
<WebAPI />
<p>&nbsp;</p>
<XUnit />
<p>&nbsp;</p>
<EF />
<p>&nbsp;</p>
<LINQ />
<p>&nbsp;</p>
<SQL />
<p>&nbsp;</p>
<BlazorWebApp />
<p>&nbsp;</p>
<GitHub />
<p>&nbsp;</p>
<Azure />
<p>&nbsp;</p>
<p class="h4">
    <br /><br /><br /><br />End
</p>
