@page "/vocabulary_fr"

@using Microsoft.Extensions.Localization
@using System.Globalization;
@using PascalTraining.Components.Pages.Vocabulary.WebSite
@using PascalTraining.Components.Pages.Vocabulary.HTML
@using PascalTraining.Components.Pages.Vocabulary.CSS
@using PascalTraining.Components.Pages.Vocabulary.JS
@using PascalTraining.Components.Pages.Vocabulary.Typescript
@using PascalTraining.Components.Pages.Vocabulary.Bootstrap
@using PascalTraining.Components.Pages.Vocabulary.CSharp
@using PascalTraining.Components.Pages.Vocabulary.WebBackend
@using PascalTraining.Components.Pages.Vocabulary.MicrosoftController
@using PascalTraining.Components.Pages.Vocabulary.WebAPI
@using PascalTraining.Components.Pages.Vocabulary.XUnit
@using PascalTraining.Components.Pages.Vocabulary.EF
@using PascalTraining.Components.Pages.Vocabulary.LINQ
@using PascalTraining.Components.Pages.Vocabulary.SQL
@using PascalTraining.Components.Pages.Vocabulary.BlazorWebApp
@using PascalTraining.Components.Pages.Vocabulary.GitHub
@using PascalTraining.Components.Pages.Vocabulary.Azure


@rendermode InteractiveServer

<PageTitle>Vocabulaire</PageTitle>

<div class="container mt-5">
    <h1 class="text-center text-primary mb-4">
        Vocabulaire
    </h1>
    <div class="accordion">
        <!-- Section Concepts de Base -->
        <div class="accordion-item">
            <div id="basicConceptsSection" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <p>
                        <strong>Remarque :</strong>
                        Si vous voulez être bon au golf, vous
                        devez frapper des balles—beaucoup d'entre elles—chaque
                        jour, au moins 100, même quand vous n'en avez pas envie. Cela prend du temps que vous
                        n'avez peut-être pas ou que vous préféreriez utiliser ailleurs. Parfois, il n'y a pas de progrès visible,
                        mais d'autres fois, il y a des moments eureka. Le même principe
                        s'applique à l'apprentissage : le temps que vous investissez vous distinguera. Cela peut
                        sembler facile, mais si c'était le cas, tout le monde serait des golfeurs professionnels.
                    </p>
                    <p>
                        En ce qui concerne l'apprentissage, il est
                        essentiel de consacrer du temps. Il est
                        recommandé de suivre la même approche
                        que les golfeurs professionnels : consacrez au
                        moins une heure chaque jour à réviser,
                        mémoriser, explorer, tester et
                        prototyper.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<p>&nbsp;</p>
<WebSite />
<p>&nbsp;</p>
<HTMLc />
<p>&nbsp;</p>
<CSS />
<p>&nbsp;</p>
<JS />
<p>&nbsp;</p>
<Typescript />
<p>&nbsp;</p>
<Bootstrap />
<p>&nbsp;</p>
<CSharp />
<p>&nbsp;</p>
<WebBackend />
<p>&nbsp;</p>
<MicrosoftController />
<p>&nbsp;</p>
<WebAPI />
<p>&nbsp;</p>
<XUnit />
<p>&nbsp;</p>
<EF />
<p>&nbsp;</p>
<LINQ />
<p>&nbsp;</p>
<SQL />
<p>&nbsp;</p>
<BlazorWebApp />
<p>&nbsp;</p>
<GitHub />
<p>&nbsp;</p>
<Azure />
<p>&nbsp;</p>
<p class="h4">
    <br /><br /><br /><br />Fin
</p>
