@page "/vocabulary_en"

@using Microsoft.Extensions.Localization
@using System.Globalization;
@using PascalTraining.Components.Pages.Vocabulary.WebSite
@using PascalTraining.Components.Pages.Vocabulary.HTML
@using PascalTraining.Components.Pages.Vocabulary.CSS
@using PascalTraining.Components.Pages.Vocabulary.JS
@using PascalTraining.Components.Pages.Vocabulary.Typescript
@using PascalTraining.Components.Pages.Vocabulary.Bootstrap
@using PascalTraining.Components.Pages.Vocabulary.CSharp
@using PascalTraining.Components.Pages.Vocabulary.WebBackend
@using PascalTraining.Components.Pages.Vocabulary.MicrosoftController
@using PascalTraining.Components.Pages.Vocabulary.WebAPI
@using PascalTraining.Components.Pages.Vocabulary.XUnit
@using PascalTraining.Components.Pages.Vocabulary.EF
@using PascalTraining.Components.Pages.Vocabulary.LINQ
@using PascalTraining.Components.Pages.Vocabulary.SQL
@using PascalTraining.Components.Pages.Vocabulary.BlazorWebApp
@using PascalTraining.Components.Pages.Vocabulary.GitHub
@using PascalTraining.Components.Pages.Vocabulary.Azure


@rendermode InteractiveServer

<PageTitle>Vocabulary</PageTitle>

<p class="h2 text-center">Vocabulary</p>
<p>&nbsp;</p>
<p class="h4">
    Here is some vocabulary to help you understand the terms used in this tutorial.
</p>
<p>&nbsp;</p>
<WebSite />
<p>&nbsp;</p>
<HTMLc />
<p>&nbsp;</p>
<CSS />
<p>&nbsp;</p>
<JS />
<p>&nbsp;</p>
<Typescript />
<p>&nbsp;</p>
<Bootstrap />
<p>&nbsp;</p>
<CSharp />
<p>&nbsp;</p>
<WebBackend />
<p>&nbsp;</p>
<MicrosoftController />
<p>&nbsp;</p>
<WebAPI />
<p>&nbsp;</p>
<XUnit />
<p>&nbsp;</p>
<EF />
<p>&nbsp;</p>
<LINQ />
<p>&nbsp;</p>
<SQL />
<p>&nbsp;</p>
<BlazorWebApp />
<p>&nbsp;</p>
<GitHub />
<p>&nbsp;</p>
<Azure />
<p>&nbsp;</p>
<p class="h4">
    <br /><br /><br /><br />End
</p>