@page "/azuredbsetup_en"

@using Microsoft.Extensions.Localization
@using System.Globalization;

@rendermode InteractiveServer

<PageTitle>Creating an Azure Database</PageTitle>

<p class="h2 text-center">Creating an Azure Database</p>
<p>&nbsp;</p>
<p class="h4">
    This page describes all the necessary steps to create
    an <strong>Azure SQL Database</strong> on Azure, containing
    the tables that the developer will need at the
    backend level. The database can then be used to save
    the necessary information for registration (Register) and login (Login).
</p>
<p>&nbsp;</p>
<p class="h4">
    Open <a href="https://portal.azure.com" target="_blank">https://portal.azure.com</a>
</p>
<p>&nbsp;</p>
<p class="h4">
    First and foremost, you need to have an Azure account.
    Once the account is created, you should have something
    like <strong>Subscription 1</strong>. All Azure services
    must reside in a subscription. Next, you need to create
    a Resource Group that will contain all the associated Azure services.
</p>
<p>&nbsp;</p>
<p class="h4">
    Make sure you have a Resource Group created. To do this, simply start typing
    <strong>Resource Groups</strong> in the search box at the top, then choose Resource Group.
    Resource Groups in Azure are used to logically organize and manage Azure resources.
</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/createresourcegroup.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    Click on <strong>+ Create</strong> to create a new Resource Group.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/createresourcegroupdetail.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    Click on <strong>Next: Tags</strong> at the bottom of the page.
    You can leave these information fields empty, then click on <strong>Next: Review + create &gt;</strong>.
    Then, click on <strong>Create</strong>.
</p>
<p>&nbsp;</p>
<p class="h4">
    We can then create the database and place it
    in this new <strong>Resource Group -- PatateResource</strong>.
</p>
<p>&nbsp;</p>
<p class="h4">
    Simply start typing <strong>Azure SQL</strong> in the
    search box at the top, then choose Azure SQL.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/selectazuresql.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    Click on <strong>+ Create</strong> to create a new Azure SQL database.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/createazuredb.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    You can then start creating <strong>SQL databases</strong>
    by clicking on <strong>Create</strong>.
</p>
<p>&nbsp;</p>
<p class="h4">
    You will need to choose a subscription, then select your
    resource group <strong>PatateResource</strong> in this case.
    If a server (<strong>Server</strong>) does not exist, you will need to create one.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/AzureDBCreateDetail.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    It is possible to place multiple databases on the same server.
    To create a server, click on <strong>Create new</strong> under "Select a server".
</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/SQLServerCreate.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    For passwords, make sure they are kept safe from any malicious person.
</p>
<p>&nbsp;</p>
<p class="h4">
    We now return to the creation of the database. You will see "Project details" at the top.
</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/CreateAzureDBDev.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    Choose "Development" for Workload Environment.
    Then, select <strong>Compute + storage</strong>.
    Click on <strong>Configure database</strong>.
</p>
<p>&nbsp;</p>
<p class="h4">
    The Service Tier is where you determine the size of your
    database and the power of the computer on which the database will be hosted.
</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/ServiceTier.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    For now, we will choose something very small.
    Open the options in <strong>Service tier</strong> and choose
    <strong>Basic</strong>, which will give us a 2 GB database.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/BasicDB.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    Then, click on <strong>Next: Networking &gt;</strong>. No changes are necessary.
    Then, click on <strong>Next: Security &gt;</strong>. No changes.
    Then, click on <strong>Next: Additional Settings &gt;</strong>. No changes.
    Then, click on <strong>Next: Tags &gt;</strong>. No changes.
    Finally, click on <strong>Next: Review + create &gt;</strong>. No changes.
    Then, click on <strong>Create</strong>.
</p>
<p>&nbsp;</p>
<p class="h4">
    The database is now being created.
    This may take a few minutes. You will see <strong>Deployment in progress</strong>.
    Once completed, you can click on <strong>Go to Resources</strong>.
</p>
<p>&nbsp;</p>
<p class="h4">
    On this page, the most important information, and the one you will need,
    is the <strong>Connection String</strong>.
</p>
<p>&nbsp;</p>
<p class="h4">
    It is now possible to use some tools to see your new database.
    Use <strong>Microsoft SQL Server Management Studio (SSMS)</strong>.
    Open SSMS by clicking on the Windows button, then start typing "Microsoft SQL Server..."
    This will open the application.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/OpenDBInSSMS.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    You can then copy the <strong>Server name</strong> and the <strong>Connection String</strong>
    into SSMS, as shown in the image above. Then, click on <strong>Connect</strong>.
</p>
<p>&nbsp;</p>
<p class="h4">
    You will probably see an error like the one shown below. How to solve this error?
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/ErrorAccessingAzureDB.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    To resolve this error, you need to configure the server firewall (<strong>Set server firewall</strong>).
    But, not from <strong>Set server firewall</strong>.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/NotSelectingSetFirewall.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    Instead, click on <strong>Open in Visual Studio</strong>.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/OpenInVisualStudio.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    You will see a link <strong>Configure your firewall</strong>.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/ConfigureYourFirewall.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    You need to uncheck the <strong>Deny public network access</strong> checkbox.
    In your case, the IP will certainly be different. Give yourself a rule name 
    that makes sense and copy your IP into the Start IP and End IP text boxes.
    Finally, click on <strong>Save</strong>. You may need to click more than 
    once for it to work. In my case, the first time, it gave me an error. 
    The second time it worked.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/FirewallSettings.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    We can then return to SSMS and click on <strong>Connect</strong>.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/SSMSDePatateDB.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    It is also possible to connect to the database using VS 2022 or VS Code.
    To do this, you need to use the correct SQL server, username, and password. 
    Here is how to connect to the database using VS 2022. You need to open 
    the <strong>SQL Server Object Explorer</strong> window by clicking
    on the View menu -> SQL Server Object Explorer.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/AddSQLServerInVS.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    You need to enter the parameters correctly (see image below) and click on <strong>Connect</strong>.
</p>
<p>nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/ConnectToDBInVS.png" />
    </div>
</div>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/azuredbsetup/DBViewInVS.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    End
    <br /><br /><br /><br />
</p>