@page "/vocabulary/htmlmore_fr"

<div class="container mt-5">
    <h1 class="text-center text-primary mb-4">Vocabulaire HTML Plus ...</h1>

    <div class="accordion">
        <!-- Section Éléments de Structure de Base -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#htmlBasicsSection"
                        aria-expanded="false" aria-controls="htmlBasicsSection">
                    Plus ...
                </button>
            </h2>
            <div id="htmlBasicsSection" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>&lt;html&gt;</strong> Plus ...
                            <pre>
                                <code>
quelque chose ...
                                </code>
                            </pre>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
