@page "/azuredbsetup_en"

@using Microsoft.Extensions.Localization
@using System.Globalization;

@rendermode InteractiveServer

@inject IStringLocalizer<SharedResource> Localizer

<PageTitle>Azure Database Setup</PageTitle>

<p class="h3">Azure Database Setup</p>

<p> Todo</p>
