@page "/azuredbsetup_fr"

@using Microsoft.Extensions.Localization
@using System.Globalization;

@rendermode InteractiveServer

@inject IStringLocalizer<SharedResource> Localizer

<PageTitle>Mise en place d'une base de données Azure</PageTitle>

<p class="h3">Mise en place d'une base de données Azure</p>

<p> Todo</p>
