@page "/azuredbsetup_fr"

@using Microsoft.Extensions.Localization
@using System.Globalization;

@rendermode InteractiveServer

@inject IStringLocalizer<SharedResource> Localizer

<PageTitle>Mise en place d'une base de données Azure</PageTitle>

<p class="h2 text-center">Mise en place d'une base de données Azure</p>
<p>&nbsp;</p>
<p class="h4">
    Cette page indique tous les étapes nécessaire pour créer 
    une base de données <strong>Azure SQL Database</strong> sur Azure contenant 
    les tables nécéssaire dont le dévelopeur aura de besoin au niveau du 
    Backend. La base de données pourra alors être utiliser pour sauvegarder
    l'information nécéssaire pour s'enregistrer (Register) et se connecter (Login).
</p>
<p>&nbsp;</p>
<p class="h4">
    Ouvrir <a href="https://portal.azure.com" target="_blank">https://portal.azure.com</a>
</p>
<p class="border-3">
    <img src="/images/selectazuresql.png" />
</p>
<br />
<p>bojour</p>