@page "/home_en"

<p class="h1">Hello Pascal and other interested parties (Bobby, Danielle, etc.),</p>
<p>&nbsp;</p>
<p class="h4">
    Here is the GitHub <a href="https://github.com/CharlesNathalie">https://github.com/CharlesNathalie</a> where
    you will find several small projects that will guide you through various tasks related to the production of different types of applications (Backend and Frontend).
</p>
<p>&nbsp;</p>
<p class="h4">
    The first project is PascalTraining, which is simply a Blazor Web App, combining a web application with Frontend and a Backend server.
</p>
<p>&nbsp;</p>
<p class="h4">
    This application will be available at all times and will become more and more complete as I have the time and energy to improve it.
    Here is the web address: <a href="https://pascaltraining.azurewebsites.net/">https://pascaltraining.azurewebsites.net/</a>.
    To access the code saved on GitHub and to view the resources used in Azure, I will need to give you access once you have registered on GitHub and Azure, as explained in more detail below.
</p>
<p>&nbsp;</p>
<p class="h4">
    My goal with all this is that my knowledge does not disappear without someone benefiting from it. At first, you may find that there is a lot of information that seems complicated.
    But it's simply a matter of learning the vocabulary, and everything will become understandable and easy to follow.
    As for me, I have all the time I need, knowing that there will be times when I won't be very efficient, given my condition.
    But, I encourage Bobby and Danielle to help you in your endeavor. They may be able to contribute to this application and make it a reference for all project participants.
</p>
<p>&nbsp;</p>
<p class="h4">
    The main goal is to use the development of various types of applications to learn more quickly and about topics that might not otherwise be presented to you.
    Learning is faster and more permanent when working on projects that are a bit simple but very real. The goal is not to sell the final product, but rather to have fun learning.
</p>
<p>&nbsp;</p>
<p class="h2">Here are four projects that might interest you</p>
<p>&nbsp;</p>
<p class="h3">Boulette — target age: 12-99 years</p>
<p>&nbsp;</p>
<p class="h4">
    This project would be played like the paper ball game. This website and/or application would simply allow you to enter the names of the teams (2 or more)
    and receive the words from each participating person. These words would then be used to display them, either after a simple calculation or something else.
    Several aspects will need to be decided, such as: is it played on a single phone or does everyone use their own phone, etc.
</p>
<p>&nbsp;</p>
<p class="h3">CalculoMath --- target age: 8-14 years</p>
<p>&nbsp;</p>
<p class="h4">
    A reproduction of the quick calculation application used when the children were younger: addition, subtraction, multiplication, and division, with time tracking,
    number of calculations, correct and incorrect answers. Several aspects will also need to be decided here, such as the settings, and choosing between a desktop version,
    mobile, or both, etc.
</p>
<p>&nbsp;</p>
<p class="h3">BrainSpeed --- target age: 12-99 years</p>
<p>&nbsp;</p>
<p class="h4">
    An application that would ask questions about different countries and provinces, covering various topics (culture, music, history, politics, etc.) with multiple choices.
    The user would answer as quickly as possible, and the application would record the time, as well as the correct and incorrect answers.
    This application could resemble tools like Duolingo, which your mother uses to learn Spanish, or other applications that I may not have seen, but you are aware of.
    The important thing here is to save user performance so that they can compare themselves with other people of their age, gender, region, etc.
    I have already conducted some tests to see if ChatGPT-4 could generate everything we need to formulate questions, create multiple choices with one correct answer,
    and yes, it is possible.
</p>
<p>&nbsp;</p>
<p class="h3">HVACApp — targeted for HVAC employees and employers</p>
<p>&nbsp;</p>
<p class="h4">
    An application intended for employees and employers in the HVAC sector. The goal of this application would be to allow technicians to avoid writing a single word during their work.
    Developing this application would be a good exercise to learn how to develop an application using all the possible artificial intelligence (AI) tools,
    to become familiar with new AI technologies and understand how to create applications with this technology that will be ubiquitous in the years to come.
</p>
<p>&nbsp;</p>
<p class="h4">
    The skeletons of these projects will be created soon and saved on GitHub as private projects, using Blazor applications and databases on Azure.
    The only public project will be this one, which will be developed as we progress.
</p>
<p>&nbsp;</p>
<p class="h3">
    That said, there are basic tools you will need to be able to view the projects and participate in their development.
</p>

<ol>
    <li>
        Create a GitHub account (free)
        <a href="https://github.com/">https://github.com/</a>.
        There is a button at the top right (sign up). Just follow the instructions.
    </li>
    <br />
    <li>
        Create an Azure account (free)
        <a href="https://portal.azure.com/">https://portal.azure.com/</a>.
        They will ask you to create an account directly, as it is impossible to access this portal without an account. You can also start with the site
        <a href="https://azure.com/">https://azure.com/</a>, where you will find a (Sign in) button that will take you to a login or account creation page.
    </li>
    <br />
    <li>
        Install Microsoft Visual Studio 2022 Community (free)
        <a href="https://visualstudio.microsoft.com/downloads/">https://visualstudio.microsoft.com/downloads/</a>.
        Click on the "Free Download" button under Community. Here, I assume that Danielle has already had you install VS Code, which can accomplish everything I'm going to present to you in terms of use and information with VS 2022.
        I leave Danielle to show you VS Code; I will focus on VS 2022.
        For certain tasks, it is better to use VS Code, and for others, VS 2022. For example, this document was produced using VS Code,
        which is better suited for producing (.md) type documents.
    </li>
    <br />
    <li>
        Install Microsoft SQL Server Management Studio (SSMS) (free and optional)
        <a href="https://learn.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver16">
            https://learn.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver16
        </a>.
        Scroll down the page and you will see "Download SSMS". The download is directly below.
    </li>
    <br />
    <li>
        GitHub Copilot ($10 / month). Once you have installed VS 2022, you should see GitHub Copilot at the top right.
        You will have options by clicking on it. Don't try to do without this tool.
        You will learn much faster with this tool by asking it questions about how to do certain things and asking it to explain what is happening in the code.
        In addition, it can help you find certain bugs and suggest how to fix them.
        It can also write the majority of your code once you know how to ask it exactly what you want in text form.
    </li>
    <br />
    <li>
        ChatGPT, free version or $20 / month for five times more requests
        <a href="https://openai.com">https://openai.com</a>. Click on ChatGPT, then on "Start now",
        and finally on "Stay logged out". You will see the mini version of ChatGPT 4, which can be used,
        but without saving the conversations. To have a more advanced version that will save your conversations,
        you will need to create an account and choose the full version of ChatGPT 4. The mini version
        may be enough for you for now. There is no rush.
    </li>
</ol>
