@page "/installationvs2022_en"

@using Microsoft.Extensions.Localization
@using System.Globalization;

@rendermode InteractiveServer

<PageTitle>Installing Visual Studio 2022</PageTitle>

<p class="h2 text-center">Installing Visual Studio 2022</p>
<p>&nbsp;</p>
<p class="h4">
    This page outlines the necessary steps for installing
    Visual Studio 2022 Community, as well as the tools you will need to install.
    To install VS 2022, you can click on the Microsoft download link
    <a href="https://visualstudio.microsoft.com/downloads/" target="_blank">
        https://visualstudio.microsoft.com/downloads/
    </a>. Click on <strong>Free Download</strong> under Community to start
    the download and installation.
</p>
<p>&nbsp;</p>
<p class="h4">
    Once the installation is complete, you will need to install certain
    tools that will be useful to you. To do this, press the Windows button
    and start typing "Install".
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/vsinstallation/VSInstallation.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    The VS Installer application is where you can install the tools
    necessary for developing your applications. Click on the
    <strong>Modify</strong> button to install the required tools.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/vsinstallation/VSInstaller.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    Here are the tools I have installed. If you select the same, at a minimum,
    you should be able to replicate all the applications we will be discussing.
    Once these options are selected, click on
    <strong>Install while downloading</strong> at the bottom of the page.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/vsinstallation/VSToolsInstalled.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    End
    <br /><br /><br /><br />
</p>