@page "/installationvs2022_fr"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@using Microsoft.Extensions.Localization
@using System.Globalization;

@rendermode InteractiveServer

<PageTitle>Installation de Visual Studio 2022</PageTitle>

<p class="h2 text-center">Installation de Visual Studio 2022</p>
<p>&nbsp;</p>
<p class="h4">
    Cette page décrit les étapes nécessaires pour l'installation de
    Visual Studio 2022 Community, ainsi que les outils que vous devrez installer.
    Pour installer VS 2022, vous pouvez cliquer sur le lien du téléchargement de Microsoft
    <a href="https://visualstudio.microsoft.com/downloads/" target="_blank">
        https://visualstudio.microsoft.com/downloads/
    </a>. Cliquez sur <strong>Free Download</strong> sous Community pour lancer
    le téléchargement et l'installation.
</p>
<p>&nbsp;</p>
<p class="h4">
    Une fois l'installation terminée, vous devrez installer certains
    outils qui vous seront utiles. Pour ce faire, appuyez sur le bouton Windows
    et commencez à taper "Install".
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/vsinstallation/VSInstallation.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    L'application VS Installer est l'endroit où vous pourrez installer les outils
    nécessaires pour le développement de vos applications. Cliquez sur le bouton
    <strong>Modify</strong> pour installer les outils nécessaires.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/vsinstallation/VSInstaller.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    Voici les outils que j'ai installés. Si vous choisissez les mêmes, au minimum,
    vous devriez être capable de reproduire toutes les applications dont nous
    allons discuter. Une fois ces options choisies, cliquez sur
    <strong>Install while downloading</strong> en bas de la page.
</p>
<p>&nbsp;</p>
<div class="card border-3">
    <div class="card-body">
        <img src="/images/vsinstallation/VSToolsInstalled.png" />
    </div>
</div>
<p>&nbsp;</p>
<p class="h4">
    Fin
    <br /><br /><br /><br />
</p>