@using Microsoft.Extensions.Localization
@using System.Globalization;

@rendermode InteractiveServer

@inject IStringLocalizer<SharedResource> Localizer
@inject NavigationManager Navigation

<div class="top-row ps-5 navbar navbar-dark">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="">Pascal Training</a>
            <br />
            <button class="btn btn-primary btn-sm" @onclick='() => SetLanguage("fr", "CA")'>fr</button>
            <button class="btn btn-primary btn-sm" @onclick='() => SetLanguage("en", "CA")'>en</button>
            <br />
        </div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Readme.md
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="azuredbsetup">
                Azure Database Setup
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="installationvs2022">
                Installation VS 2022
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createblazorwebapp">
                Create Blazor Web App
            </NavLink>
        </div>
    </nav>
</div>



@code {
    private void SetLanguage(string culture, string region)
    {
        var defaultCulture = new CultureInfo($"{culture}-{region}");
        CultureInfo.DefaultThreadCurrentCulture = defaultCulture;
        CultureInfo.DefaultThreadCurrentUICulture = defaultCulture;
        Navigation.NavigateTo(Navigation.Uri, forceLoad: true); // Reload the current page
    }
}